# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.idea
Будет удалено .gitignore
Будет удалено .idea/.gitignore
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/sep_3.6_9.iml
Будет удалено .idea/vcs.xml
